$soft-blue: #2772db;
$soft-black: #272736;
$standart-black: #181821;
$text-white: #ffffffee;
$white: #fff;
$standart-blue: #3b82f6;
$light-blue: #5793f3dc;
$light-gray: #e6e8ec;
$standart-yellow: #f95959;
$text-yellow: #ff7777;
$soft-white: #ffffffb7;
$bg-soft-black: #2f2f41;
$soft-yellow: rgb(252, 252, 168);