@import 'variables.scss';
@import 'mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');




* {
    font-family: "Poppins", sans-serif;
}

.logo .logoText span{
    color: $soft-blue;
}

nav ul li {
    position: relative;
    padding-bottom: 2px;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0;
    height: 3px; 
    background-color: $soft-blue; 
    transition: width 0.3s ease-in-out;
    border-radius: 20px;
}

nav ul li:hover::after {
    width: 100%;
    color: $soft-blue;
}

nav ul li a{
    transition: .2s ease;
}


nav ul li a:hover{
    color: $soft-blue;
}

.mainCard {
    height: 70vh;
}

.mainCard .mainCardLeft {
    width: 70%;
}

.mainCard .mainCardRight {
    width: 30%;
}


.mainCard .mainCardRight .myPicture {
    height: 95%;
}

.skills .creationOfInterfaceSkill {
    width: 87%;
}

.skills .databaseUsageSkill {
    width: 69%;
}

.skills .front-endDevelopmentSkill {
    width: 62%;
}

.skills .back-endDevelopmentSkill {
    width: 39%;
}



