@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.mainContent {
  overflow-x: hidden;
}

.logo .logoText span {
  color: #2772db;
}

nav ul li {
  position: relative;
  padding-bottom: 2px;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #2772db;
  transition: width 0.3s ease-in-out;
  border-radius: 20px;
}

nav ul li:hover::after {
  width: 100%;
  color: #2772db;
}

nav ul li a {
  transition: 0.2s ease;
}

nav ul li a:hover {
  color: #83b6fd;
}

nav ul li:hover {
  color: #83b6fd;
}

.mainCard {
  height: 70vh;
}

.mainCard .mainCardLeft {
  width: 70%;
  justify-content: center;
}

.mainCard .mainCardRight {
  width: 35%;
}

.mainCard .mainCardRight .mainPicture0 {
  height: 95%;
}

.mainCard .mainCardRight .mainPicture1 {
  height: 90%;
}

.mainCard .mainCardRight .mainPicture2 {
  height: 95%;
}

.mainPicture0,
.mainPicture1,
.mainPicture2 {
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.nVisible {
  opacity: 0;
  transform: translateX(100%);
}

.skills .creationOfInterfaceSkill {
  width: 89%;
}

.skills .databaseUsageSkill {
  width: 42%;
}

.skills .front-endDevelopmentSkill {
  width: 64%;
}

.skills .back-endDevelopmentSkill {
  width: 75%;
}

.myServiceCards {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.card0 {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.bg-blue {
  background: #60A5FA;
}

.bg-red {
  background: #f95959;
}

.deployBtn {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: 0.5s ease;
}

.deployBtn:hover {
  transform: scale(1.06);
}

.visibleGif {
  opacity: 0;
  display: none;
}

.deployBtn:hover .visibleGif {
  opacity: 1;
  display: block;
}

.deployBtn .visibleIcon {
  opacity: 1;
  display: block;
}

.deployBtn:hover .visibleIcon {
  display: none;
  opacity: 0;
}

.sourceCodeBtn {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: 0.5s ease;
}

.sourceCodeBtn:hover {
  transform: scale(1.05);
}

.image-container img {
  transition: transform 0.3s ease;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.301);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 20px;
}

.image-container:hover .image-overlay {
  opacity: 1;
}

.projectInformations {
  transition: opacity 0.3s ease;
}

.image-container:hover .projectInformations {
  opacity: 1;
}

@media (min-width: 1024px) and (max-width: 1120px) {
  .mainContent {
    padding: 0px 30px;
  }
  .certificatesSection {
    padding: 0px 30px;
  }
  .projectsDiv {
    gap: 4px;
  }
  .logoAndTerms {
    margin-right: 50px;
  }
  .logoAndTerms {
    margin-right: 4rem;
  }
  .footerDivision {
    height: max;
  }
  .footerLastOne {
    padding: 0;
    padding-right: 130px;
  }
  .letsWorkImg {
    width: 17%;
  }
  .footerLocation {
    margin-right: 1.8rem;
  }
}
@media (min-width: 1124px) and (max-width: 2000px) {
  .mainContent {
    padding: 0px 80px;
  }
  .certificatesSection {
    padding: 0px 80px;
  }
  .logoAndTerms {
    margin-right: 5rem;
  }
  .footerLastOne {
    padding-left: 2rem;
    padding-right: 5rem;
    padding-top: 4rem;
  }
  .letsWorkImg {
    width: 20%;
    height: auto;
  }
  .letsWorkImg {
    width: 17%;
  }
  .footerLocation {
    margin-right: 3rem;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.658);
  border-radius: 2000px;
  border: 3px solid #3b3b4e;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #3b3b4e;
  border-radius: 2000px;
}

.allWhaves {
  position: relative;
  background: #181821;
}

.allWhaves .wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave.png);
  background-size: 1000px 100px;
}

.allWhaves .wave.wave1 {
  animation: wavesAnimation 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

.allWhaves .wave.wave2 {
  animation: wavesAnimation2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

.allWhaves .wave.wave3 {
  animation: wavesAnimation 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}

.allWhaves .wave.wave4 {
  animation: wavesAnimation2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes wavesAnimation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wavesAnimation2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
.hideaway {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1.4s, transform 1.4s;
}

.show {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.4s, transform 1.4s;
}

.gitAndLinkedinBtns {
  position: relative;
  overflow: hidden;
  transition: 0.2s ease;
  border: 1px solid black;
  border-radius: 5px;
}

.linkedinFillTransition {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #2772db;
  transition: width 0.5s ease;
}

.githubFillTransition {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #272736;
  transition: width 0.5s ease;
}

.gitAndLinkedinBtns {
  position: relative;
  overflow: hidden;
}

.hoverIcon {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gitAndLinkedinBtns:hover .hoverIcon {
  opacity: 1;
}

.gitAndLinkedinBtns:hover .noHoverIcon {
  opacity: 0;
}

.gitAndLinkedinBtns:hover h3 {
  color: rgba(255, 255, 255, 0.9333333333);
}

.lmGithubIcon {
  transition: 0.1s ease;
}

.githubBtn:hover .lmGithubIcon {
  filter: brightness(0) invert(1);
}

.gitAndLinkedinBtns:hover .githubFillTransition {
  width: 100%;
  color: rgba(255, 255, 255, 0.9333333333);
}

.gitAndLinkedinBtns:hover .linkedinFillTransition {
  width: 100%;
  color: rgba(255, 255, 255, 0.9333333333);
}

.eachAchievementCard {
  transition: 0.5s ease;
}

.myServiceCards {
  transition: background-color 0.2s ease, color 0.3s ease;
}

.myServiceCards:hover {
  background-color: rgba(87, 147, 243, 0.862745098);
  color: #fff;
}

.card0 {
  transition: background-color 0.5s ease, color 0.3s ease;
}

.myServiceCards:hover div p {
  color: #e6e8ec;
}

.myServiceCards:hover img {
  filter: brightness(0) invert(1);
}

.invert-card .invert-img {
  filter: brightness(0) invert(1);
}

.textWhite {
  color: #e6e8ec;
}

.viewAllBtn {
  position: relative;
}

.viewAllBtn h3 {
  z-index: 1;
  position: relative;
}

.viewAllBtnFillTransition {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1D4ED8;
  transition: 0.6s ease;
  z-index: 0;
}

.viewAllBtn:hover .viewAllBtnFillTransition {
  width: 100%;
}

.mainCardRight {
  background: rgb(90, 148, 247);
  background: linear-gradient(63deg, rgb(113, 165, 255) 0%, rgb(23, 127, 253) 100%);
}

#download-cv-btn {
  position: relative;
  transition: 0.9s ease;
}

#download-cv-btn:hover {
  border-radius: 4px;
}

#download-cv-btn h3 {
  position: relative;
  z-index: 1;
  margin: 0;
}

.fillDownloadCVBtn {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #272736;
  transition: 0.6s ease;
  z-index: 0;
}

#download-cv-btn:hover .fillDownloadCVBtn {
  width: 100%;
  border-radius: 8px;
}

.qrCodeForMobile {
  height: 70vh;
}

.mainContent {
  transition: 0.3s ease;
}

.mainContent.dark {
  background: #181821;
  color: rgba(255, 255, 255, 0.9333333333);
  transition: 0.2s ease;
}

.mainContent.dark p {
  color: rgba(255, 255, 255, 0.7176470588);
}

.mainContent .darkModeBtn {
  transition: 0.2s ease;
}

.mainContent.dark .darkModeBtn {
  padding-left: 52px;
  background: rgba(255, 98, 98, 0.6156862745);
}

.mainContent.dark .darkModeBtn div {
  background: rgba(255, 255, 255, 0.774);
}

.mainContent.dark .gitAndLinkedinBtns {
  border-color: rgba(255, 255, 255, 0.562);
}

.mainContent.dark .linkedinFillTransition {
  background: black;
}

.mainContent.dark .githubFillTransition {
  background: black;
}

.mainContent.dark #main-title-name span {
  color: #ff7777;
}

.mainContent.dark #sm-main-title-name span {
  color: #ff7777;
}

.mainContent.dark .mainCardRight {
  background: #f95959;
}

.dmCodeIcon {
  display: none;
}

.mainContent.dark .dmCodeIcon {
  display: flex;
}

.mainContent.dark .lmCodeIcon {
  display: none;
}

.mainContent.dark nav ul li a:hover {
  color: #fcc5c5;
}

.mainContent.dark nav ul li:hover {
  color: #fcc5c5;
}

.mainContent.dark nav ul li::after {
  background-color: #f95959;
}

.mainContent.dark .gmailIcon {
  filter: brightness(0) invert(1);
}

.mainContent.dark .knowledgeGithubIcon {
  filter: brightness(0) invert(1);
}

.mainContent.dark .lmGithubIcon {
  filter: brightness(0) invert(1);
}

.mainContent.dark .mainCardRight h1 {
  color: rgba(255, 255, 255, 0.9333333333);
}

.mainContent.dark .aboutMe figure div {
  background: #272736;
}

.mainContent.dark #download-cv-btn {
  background: #3a3a4d;
  font-weight: 600;
}

.mainContent.dark #download-cv-btn:hover .fillDownloadCVBtn {
  background: #f95959;
}

.mainContent.dark .skills {
  background: #272736;
  border-bottom: 2px solid #f95959;
}

.mainContent.dark .skillsDecoration {
  background: #f95959;
}

.mainContent.dark .getAnyProjectBtn {
  background: #f95959;
  font-weight: 600;
}

.mainContent.dark .skillsFilledBar {
  background: #f95959;
}

.mainContent.dark #months-learning-card {
  background: rgba(67, 67, 80, 0.5137254902);
}

.mainContent.dark .eachAchievementCard {
  background: #272736;
  border: none;
}

.mainContent.dark .eachAchievementCard h3 {
  background: #272736;
  border: none;
  color: #ff7777;
}

.mainContent.dark #months-learning-card h1 {
  color: rgba(255, 255, 255, 0.9333333333);
}

.mainContent.dark #months-learning-card span {
  color: #ff7777;
}

.mainContent.dark #months-learning-card .commitMadeText {
  color: rgba(255, 255, 255, 0.7176470588);
}

.mainContent.dark .myServiceCards:hover {
  background-color: #f95959;
}

.mainContent.dark .myServiceCards {
  background: none;
}

.mainContent.dark .myServiceCards img {
  filter: brightness(0) saturate(100%) invert(22%) sepia(92%) saturate(4753%) hue-rotate(357deg) brightness(103%) contrast(52%);
}

.mainContent.dark .myServiceCards:hover img {
  filter: brightness(0) invert(1);
}

.mainContent.dark .invert-card .invert-img {
  filter: brightness(0) invert(1);
}

.icon-red {
  filter: brightness(0) saturate(100%) invert(22%) sepia(92%) saturate(4753%) hue-rotate(357deg) brightness(103%) contrast(52%);
}

.mainContent.dark .myServiceCards:hover .card0 .card0Icon {
  filter: brightness(0) saturate(100%) invert(22%) sepia(92%) saturate(4753%) hue-rotate(357deg) brightness(103%) contrast(52%);
}

.mainContent.dark .myServiceCards {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 10px 8px;
}

.mainContent.dark .skillsFilledBarBg {
  background: #42425a;
}

.mainContent.dark .viewAllBtn {
  background: #f95959;
}

.mainContent.dark .viewAllBtnFillTransition {
  background-color: #d83434;
}

.mainContent.dark .deployBtn {
  background: #363649;
}

.mainContent.dark .sourceCodeBtn {
  background: #363649;
}

.mainContent.dark .sourceCodeBtn img {
  filter: brightness(0) invert(1);
}

.mainContent.dark .deployBtn img {
  display: none;
}

.deployBtn .dmVisibleIcon {
  display: none;
}

.mainContent.dark .deployBtn .dmVisibleIcon {
  display: flex;
}

.mainContent.dark .image-container {
  background: #363649;
  border: 1px #262631 solid;
}

.mainContent.dark .image-container img {
  display: none;
}

.mainContent.dark .image-container .projectInformatioIcon {
  display: flex;
}

.mainContent.dark .image-container .hidden {
  display: flex;
}

.mainContent.dark {
  background: #181821;
}

.projectsSection {
  margin-bottom: 5rem;
}

.mainContent.dark .projectsSection {
  margin-bottom: 0.5rem;
}

body.dark {
  background: #181821;
}

body.dark .logoText span {
  color: #ff7777;
}

.deployBtn .smVisibleIcon {
  display: none;
}

@media (min-width: 360px) and (max-width: 767px) {
  .mainCard {
    justify-content: end;
    align-items: start;
    gap: 2rem;
    height: auto;
  }
  .mainCard .mainCardLeft {
    width: 100%;
  }
  .mainCard .mainCardRight {
    width: 89%;
    height: 36vh;
    justify-content: start;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
  }
  .mainCard .mainCardRight .mainPicture0 {
    height: 90%;
  }
  .mainCard .mainCardRight .mainPicture1 {
    height: 100%;
  }
  .mainCard .mainCardRight .mainPicture2 {
    height: 100%;
  }
  .mainContent .skills {
    border-left: 16px solid #2772db;
  }
  .mainContent.dark .skills {
    border-left: 16px solid #f95959;
  }
  .footerLastOne {
    padding-right: 0px;
    padding-bottom: 0rem;
  }
  .footerDivision p {
    font-size: 110%;
    text-align: center;
    margin-bottom: 5px;
  }
  .footerDivision h4 {
    font-size: 120%;
  }
  .deployBtn .visibleIcon {
    display: none;
  }
  .deployBtn .visibleGif {
    display: none;
  }
  .deployBtn:hover .visibleGif {
    opacity: 0;
    display: none;
  }
  .deployBtn .smVisibleIcon {
    display: flex;
  }
  .letsWorkImg {
    width: 45%;
    height: auto;
  }
  .mainCardRightTitle {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .mainCard {
    height: auto;
    width: 100%;
  }
  .letsWorkImg {
    width: 35%;
  }
  .mainCard p {
    font-size: 100%;
    padding-right: 1rem;
  }
  .aboutMe p {
    font-size: 100%;
    line-height: 20px;
    padding-right: 3rem;
  }
  .mainCard .mainCardRight {
    width: 70%;
    height: 50vh;
  }
  .aboutMeInformationsSection span {
    align-items: center;
    font-size: 90%;
  }
  .textSkillsDiv p {
    font-size: 90%;
  }
  .mainCard .mainCardRight .mainPicture0 {
    height: 90%;
  }
  .mainCard .mainCardRight .mainPicture1 {
    height: 100%;
  }
  .mainCard .mainCardRight .mainPicture2 {
    height: 100%;
  }
  .projectsSection {
    font-size: 130%;
  }
  .projectsSection p {
    font-size: 81%;
  }
  .projectInformationsIcons img {
    height: 120%;
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mainCard .mainCardRight {
    padding: 0px 10px;
    height: 35vh;
    margin-top: 1rem;
    width: 45%;
    margin-left: 4rem;
  }
  .mainCardLeft {
    justify-content: start;
    align-items: start;
    padding-top: 2rem;
  }
  .mainCard .mainCardRight .mainPicture0 {
    height: 85%;
  }
  .mainCard {
    justify-content: start;
    align-items: start;
    margin-bottom: none;
    height: auto;
  }
  .mainCardLeft {
    justify-content: center;
    align-items: start;
  }
  .mainCard .mainCardRight .mainPicture1 {
    height: 85%;
  }
  .mainCard .mainCardRight .mainPicture2 {
    height: 85%;
  }
  .footerLastOne {
    padding: 0;
    padding-right: 10px;
    padding-bottom: 1rem;
  }
  .letsWorkImg {
    width: 13%;
  }
}
body.dark .certificateAndWaves {
  border: none;
}

.certificateAndWaves {
  background: #181821;
  border-top: 12px solid rgba(70, 252, 70, 0.726);
}

.allWhaves {
  background: #181821;
}

.allWhavesDiv {
  background: #181821;
}

.footerLastOne {
  height: max;
}

.menu-btn.open #line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.menu-btn.open #line2 {
  opacity: 0;
}

.menu-btn.open #line3 {
  transform: rotate(45deg) translate(-8px, -9px);
}

.side-menu {
  border-left: 18px solid #2772db;
  border-right: 1px solid #2772db;
}

body.dark .side-menu {
  border-left: 18px solid #f95959;
  border-right: 1px solid #f95959;
}

.side-menu.open {
  transform: translateX(0);
}

.menu-btn .menuBtnAllLines {
  background: #272736;
}

body.dark .menu-btn .menuBtnAllLines {
  background: rgba(255, 255, 255, 0.884);
}

.side-menu {
  background: white;
}

.side-menu ul li a {
  color: #272736;
}

.side-menu ul li {
  color: #272736;
}

body.dark .side-menu {
  background: #272736;
}

body.dark .side-menu ul li a {
  color: rgba(255, 255, 255, 0.884);
}

body.dark .side-menu ul li {
  color: rgba(255, 255, 255, 0.884);
}

.close-btn {
  color: #272736;
}

body.dark .close-btn {
  color: rgba(255, 255, 255, 0.884);
}

.aboutMeBottomDecoration {
  background: #2772db;
}

body.dark .aboutMeBottomDecoration {
  background: #f95959;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.lmCodeIcon, .dmCodeIcon {
  animation: float 2s ease-in-out infinite;
}

@keyframes softFloat {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.knowledgeFigure img:nth-child(1) {
  animation: softFloat 3.2s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(2) {
  animation: softFloat 3.6s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(3) {
  animation: softFloat 3.2s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(4) {
  animation: softFloat 2.8s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(5) {
  animation: softFloat 2.4s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(6) {
  animation: softFloat 2.8s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(7) {
  animation: softFloat 3.2s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(8) {
  animation: softFloat 3.8s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(9) {
  animation: softFloat 3.4s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(10) {
  animation: softFloat 3.1s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(11) {
  animation: softFloat 2.9s ease-in-out infinite;
}

.knowledgeFigure img:nth-child(12) {
  animation: softFloat 2.5s ease-in-out infinite;
}


/*# sourceMappingURL=style.css.map */