@import 'variables.scss';
@import 'mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.logo .logoText span{
    color: $soft-blue;
}

nav ul li {
    position: relative;
    padding-bottom: 2px;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0;
    height: 3px; 
    background-color: $soft-blue; 
    transition: width 0.3s ease-in-out;
    border-radius: 20px;
}

nav ul li:hover::after {
    width: 100%;
    color: $soft-blue;
}

nav ul li a{
    transition: .2s ease;
}

nav ul li a:hover{
    color: #83b6fd;
}

nav ul li:hover{
    color: #83b6fd;
}

.mainCard {
    height: 70vh;
}

.mainCard .mainCardLeft {
    width: 70%;
}

.mainCard .mainCardRight {
    width: 30%;
}


.mainCard .mainCardRight .mainPicture0 {
    height: 95%;
}

.mainCard .mainCardRight .mainPicture1 {
    height: 105%;
}

.mainCard .mainCardRight .mainPicture2 {
    height: 100%;
}

.mainPicture0,
.mainPicture1,
.mainPicture2 {
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.nVisible {
    opacity: 0;
    transform: translateX(100%);
}

.skills .creationOfInterfaceSkill {
    width: 87%;
}

.skills .databaseUsageSkill {
    width: 69%;
}

.skills .front-endDevelopmentSkill {
    width: 62%;
}

.skills .back-endDevelopmentSkill {
    width: 39%;
}

.myServiceCards {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.card0 {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.bg-blue {
    background: #60A5FA;
}

.bg-red {
    background: $standart-yellow;
}

.deployBtn {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: 0.5s ease;
}

.deployBtn:hover {
    transform: scale(1.060);
}

.visibleGif {
    opacity: 0;
    display: none;
}

.deployBtn:hover .visibleGif{
    opacity: 1;
    display: block;
}

.deployBtn .visibleIcon{
    opacity: 1;
    display: block;
}

.deployBtn:hover .visibleIcon{
    display: none;
    opacity: 0;
}

.sourceCodeBtn {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    transition: 0.5s ease;
}

.sourceCodeBtn:hover {
    transform: scale(1.050);
}

.image-container img {
    transition: transform 0.3s ease;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.301); 
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
}

.image-container:hover .image-overlay {
    opacity: 1; 
}

.projectInformations {
    transition: opacity 0.3s ease;
}

.image-container:hover .projectInformations {
    opacity: 1;
}

@media (min-width: 1024px) and (max-width: 1120px) {
    .mainContent {
        padding: 0px 30px;
    }

    .certificatesSection {
        padding: 0px 30px;
    }

    .projectsDiv {
        gap: 17px;
    }

    .logoAndTerms {
        margin-right: 50px;
    }

    .logoAndTerms {
        margin-right: 6rem;
    }
    
    .footerLastOne{
        padding: 0;
        padding-top: 40px;
        padding-right: 130px;
        padding-bottom: 30px;
    }
    
}

@media (min-width: 1124px) and (max-width: 2000px) {
    .mainContent {
        padding: 0px 100px;
    }

    .certificatesSection {
        padding: 0px 80px;
    }

    .projectsDiv {
        gap: 60px;
    }

    .logoAndTerms {
        margin-right: 9rem;
    }

    .footerLastOne{ 
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.658); 
    border-radius: 2000px; 
    border: 3px solid #3b3b4e; 
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #3b3b4e; 
    border-radius: 2000px; 
}

.allWhaves {
    position: absolute;
    height: 105vh;
    width: 100%;
    background: $standart-black;
    overflow: hidden;
}

.allWhaves .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}

.allWhaves .wave.wave1 {
    animation: wavesAnimation 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

.allWhaves .wave.wave2 {
    animation: wavesAnimation2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

.allWhaves .wave.wave3 {
    animation: wavesAnimation 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}

.allWhaves .wave.wave4 {
    animation: wavesAnimation2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes wavesAnimation {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes wavesAnimation2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

.footerLastOne{
    height: 80vh;
}

//.hideaway {
//    opacity: 0;
//    transform: translateX(-100%);
//    transition: opacity 1.4s, transform 1.4s;
//}
//
//.show {
//    opacity: 1;
//    transform: translateX(0);
//    transition: opacity 1.4s, transform 1.4s;
//}

.gitAndLinkedinBtns {
    position: relative;
    overflow: hidden; 
    transition: .2s ease;
    border: 1px solid black;
    border-radius: 5px;
}

.linkedinFillTransition {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $soft-blue;
    transition: width 0.5s ease; 
}

.githubFillTransition {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $soft-black;
    transition: width 0.5s ease; 
}

.gitAndLinkedinBtns {
    position: relative;
    overflow: hidden; 
}

.hoverIcon {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.gitAndLinkedinBtns:hover .hoverIcon {
    opacity: 1; 
}

.gitAndLinkedinBtns:hover .noHoverIcon {
    opacity: 0; 
}

.gitAndLinkedinBtns:hover h3{
    color: $text-white;
}

.lmGithubIcon {
    transition: .1s ease;
}

.githubBtn:hover .lmGithubIcon{
    filter: brightness(0) invert(1); 
}

.gitAndLinkedinBtns:hover .githubFillTransition {
    width: 100%; 
    color: $text-white;
}

.gitAndLinkedinBtns:hover .linkedinFillTransition {
    width: 100%; 
    color: $text-white;
}

.eachAchievementCard {
    transition: .5s ease;
}

.myServiceCards {
    transition: background-color 0.2s ease, color 0.3s ease;
}

.myServiceCards:hover {
    background-color: $light-blue;
    color: $white; 
}

.card0 {
    transition: background-color 0.5s ease, color 0.3s ease; 
}

.myServiceCards:hover div p {
    color: $light-gray;
}

.myServiceCards:hover img{
    filter: brightness(0) invert(1); 
}

.invert-card .invert-img {
    filter: brightness(0) invert(1); 
}

.textWhite {
    color: $light-gray;
}
.viewAllBtn {
    position: relative;
}

.viewAllBtn h3 {
    z-index: 1;
    position: relative; 
}

.viewAllBtnFillTransition {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1D4ED8;
    transition: 0.6s ease; 
    z-index: 0;
}

.viewAllBtn:hover .viewAllBtnFillTransition {
    width: 100%; 
}

.mainCardRight {
    background: rgb(90,148,247);
    background: linear-gradient(63deg, rgb(113, 165, 255) 0%, rgb(23, 127, 253) 100%);
}

#download-cv-btn {
    position: relative; 
    transition: 0.9s ease; 
}

#download-cv-btn:hover {
    border-radius: 10px;
}

#download-cv-btn h3 {
    position: relative; 
    z-index: 1; 
    margin: 0; 
}

.fillDownloadCVBtn {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: $soft-black;
    transition: 0.6s ease; 
    z-index: 0; 
}

#download-cv-btn:hover .fillDownloadCVBtn {
    width: 100%; 
    border-radius: 8px;
}

.qrCodeForMobile {
    height: 70vh;
}

//dark mode section

.mainContent {
    transition: .3s ease;
}

.mainContent.dark {
    background: $standart-black;
    color: $text-white;
    transition: .2s ease;
}

.mainContent.dark p{
    color: $soft-white;
}

.darkModeBtn {
    transition: .2s ease;
}

.mainContent.dark .darkModeBtn {
    padding-left: 52px;
    background: #ff62629d;
}

.mainContent.dark .darkModeBtn div{
    background: rgba(255, 255, 255, 0.774);
}

.mainContent.dark .gitAndLinkedinBtns {
    border-color: rgba(255, 255, 255, 0.562);
}

.mainContent.dark .linkedinFillTransition {
    background: black;
}

.mainContent.dark .githubFillTransition {
    background: black;
}

.mainContent.dark #main-title-name span{
    color: $text-yellow;
}

.mainContent.dark .mainCardRight {
    background: $standart-yellow;
}

.dmCodeIcon {
    display: none;
}

.mainContent.dark .dmCodeIcon {
    display: flex;
}

.mainContent.dark .lmCodeIcon {
    display: none;
}

.mainContent.dark nav ul li a:hover{
    color: #fcc5c5;
}

.mainContent.dark nav ul li:hover{
    color: #fcc5c5;
}

.mainContent.dark nav ul li::after {
    background-color: $standart-yellow; 
}

.mainContent.dark .gmailIcon {
    filter: brightness(0) invert(1); 
}

.mainContent.dark .knowledgeGithubIcon {
    filter: brightness(0) invert(1); 
}

.mainContent.dark .lmGithubIcon{
    filter: brightness(0) invert(1); 
}

.mainContent.dark .mainCardRight h1{
    color: $text-white;
}

.mainContent.dark .aboutMe figure div{
    background: $soft-black;
}

.mainContent.dark #download-cv-btn {
    background: #3a3a4d;
    font-weight: 600;
}

.mainContent.dark #download-cv-btn:hover .fillDownloadCVBtn{
    background: $standart-yellow;
}

.mainContent.dark .skills {
    background: $soft-black;
    border-bottom: 2px solid $standart-yellow;
}

.mainContent.dark .skillsDecoration {
    background: $standart-yellow;
}

.mainContent.dark .getAnyProjectBtn{
    background: $standart-yellow;
    font-weight: 600;
}

.mainContent.dark .skillsFilledBar {
    background: $standart-yellow;
}

.mainContent.dark #months-learning-card {
    background: #43435083;
}

.mainContent.dark .eachAchievementCard {
    background: $soft-black;
    border: none;
}

.mainContent.dark .eachAchievementCard h3{
    background: $soft-black;
    border: none;
    color: $text-yellow;
}

.mainContent.dark #months-learning-card h1{
    color: $text-white;
}

.mainContent.dark #months-learning-card span{
    color: $text-yellow;
}

.mainContent.dark .myServiceCards:hover {
    background-color: $standart-yellow;
}

.mainContent.dark .myServiceCards {
    background: none;
}

.mainContent.dark .myServiceCards img{
    filter: brightness(0) saturate(100%) invert(22%) sepia(92%) saturate(4753%) hue-rotate(357deg) brightness(103%) contrast(52%);
}

.mainContent.dark .myServiceCards:hover img{
    filter: brightness(0) invert(1); 
}

.mainContent.dark .invert-card .invert-img {
    filter: brightness(0) invert(1); 
}

.icon-red {
    filter: brightness(0) saturate(100%) invert(22%) sepia(92%) saturate(4753%) hue-rotate(357deg) brightness(103%) contrast(52%);
}

.mainContent.dark .myServiceCards:hover .card0 .card0Icon{
    filter: brightness(0) saturate(100%) invert(22%) sepia(92%) saturate(4753%) hue-rotate(357deg) brightness(103%) contrast(52%);
}

.mainContent.dark .myServiceCards{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 10px 8px;
}

.mainContent.dark .skillsFilledBarBg {
    background: #42425a;
}

.mainContent.dark .viewAllBtn {
    background: $standart-yellow;
}

.mainContent.dark .viewAllBtnFillTransition {
    background-color: #d83434;
}

.mainContent.dark .deployBtn {
    background: #363649;
}

.mainContent.dark .sourceCodeBtn {
    background: #363649;
}

.mainContent.dark .sourceCodeBtn img{
    filter: brightness(0) invert(1); 
}

.mainContent.dark .deployBtn img{
    display: none;
}

.deployBtn .dmVisibleIcon{
    display: none;
}

.mainContent.dark .deployBtn .dmVisibleIcon{
    display: flex;
}

.mainContent.dark .image-container {
    background: #363649;
    border: 1px #262631 solid;
}

.mainContent.dark .image-container img{
    display: none;
}

.mainContent.dark .image-container .hidden{
    display: flex;
}

.mainContent.dark {
    background: $standart-black;
}

 .projectsSection {
    margin-bottom: 5rem;
}

.mainContent.dark .projectsSection {
    margin-bottom: 0.5rem;
}

body.dark {
    background: $standart-black; 
}

body.dark .logoText span {
    color: $text-yellow;
}

@media (min-width: 360px) and (max-width: 780px) {

    .mainCard {
        justify-content: end;
        align-items: end;
        gap: 3rem;
        height: auto;
    }

    .mainCard .mainCardLeft {
        width: 100%;
        padding: 10px 10px;
    }

    .mainCard .mainCardRight {
        width: 70%;
        height: 40vh;
        justify-content: end;
    }

    .mainCard .mainCardRight .mainPicture0 {
        height: 100%;
    }
    
    .mainCard .mainCardRight .mainPicture1 {
        height: 105%;
    }
    
    .mainCard .mainCardRight .mainPicture2 {
        height: 100%;
    }

    .mainContent .skills {
        border-left: 16px solid $soft-blue;
    }

    .mainContent.dark .skills {
        border-left: 16px solid $standart-yellow;
    }

    .footerLastOne{
        padding-right: 0px;
    }
}

